---
import Companies from "../components/Companies.astro";
import Testimonial from "../components/Testimonial.astro";
import Universities from "../components/Universities.astro";
import Layout from "../layouts/Layout.astro";
import testimonials from "../data/testimonials";
import indexText from "../data/indexText";
import Mission from "../components/Mission.astro";
import Slider from "../components/Slider.astro";
import sliderList from "../data/sliderHome";
---
<Layout title="Fundacion Oportunidades">
  
  <Slider 
    list={sliderList}
  /> 

  <section class="container w-screen mx-auto missionClass my-10 mt-16" >
    <div class="px-10 max-sm:px-5">
      <div class="w-full px-5 max-sm:px-2 lg:flex">
        <div class="lg:w-1/2 max-sm:w-full  text-lg space-y-4 ">
          <p>Muchas personas hablan de la igualdad. Algunas quieren la igualdad en todo sentido, y otras hablan de igualdad de oportunidades.</p>
          <p>El dilema está en que, en muchas ocasiones, las oportunidades tampoco existen.</p>
          <p>Considerando que el Estado provee educación gratuita hasta los 18 años, y luego muchas personas se ven imposibilitadas de acceder a educación universitaria por falta de posibilidades o recursos, es que decidimos crear Fundación Oportunidades, porque sabemos que en las distintas provincias de Argentina hay chicos y chicas con sueños, pero que a veces no pueden cumplirlos porque en sus lugares de nacimiento no existen casas de estudios superiores.          </p>
          <p>En Fundación Oportunidades nos dedicamos a hacer posible que los sueños de chicos y chicas de todo el país se hagan realidad, ofreciendo becas de estudio en universidades localizadas en los grandes centros urbanos de Argentina.</p>
        </div>
        <div class="lg:w-1/2 max-sm:w-full flex justify-center items-center max-sm:my-6">
          <img src="assets/Recursos/PNG/personita a color.png" class="w-[100%] max-h-[40vh] max-sm:w-[50%]  object-contain ">
        </div>
      </div>
      
    </div>
        
  
        
  </section>

 <!-- Testimonios -->
  <!-- <section class="testimonials-container">
    <h1 class="title">Experiencias de algunos de nuestros becados</h1>
    <hr class="division-line" />
    {
      testimonials.map((t) => (
        <Testimonial
          imageUrl={t.imageUrl}
          imageAlt={t.imageAlt}
          text={t.text}
          signature={t.signature}
        />
      ))
    }
  </section> -->
  
  <!-- Universidades Adheridas -->
  <section class="container mx-auto">
    <h1 class="title px-5">Universidades adheridas</h1>
    <hr class="division-line" />
    <Universities />
  </section>
  
  <!-- <Universities /> -->
  <section class="container mx-auto">
    <h1 class="title px-5">Quienes confían en nosotros</h1>
    <hr class="division-line" />
    <Companies /> 
  </section>
  
</Layout>

<style>
  

  .testimonials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    transition: all 0.3s ease;
    margin-top: 2rem;
  }
  .division-line {
    background-color: green;
    margin-top: 1rem;
    margin-right: 1.5rem;
    height: 2px;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    font-size: 2.3rem;
    margin: 2rem 0 0 0;
  }
  @media only screen and (max-width: 768px) {
    .title {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
    }
    .division-line {
      margin: 1rem 0 0 0;
    }
  }
</style>
