---
import Companies from "../components/Companies.astro";
import Testimonial from "../components/Testimonial.astro";
import Universities from "../components/Universities.astro";
import Layout from "../layouts/Layout.astro";

import testimonials from "../data/testimonials";
import indexText from "../data/indexText";
import Mission from "../components/Mission.astro";
---

<Layout title="Fundacion Oportunidades">
  {
    indexText.map((t) => (
      <Mission
        imageUrl={t.imageUrl}
        title={t.title}
        paragraphs={t.paragraphs}
      />
    ))
  }

  <h1 class="title">Experiencias de algunos de nuestros becados</h1>
  <hr class="division-line" />
  <section class="testimonials-container">
    {
      testimonials.map((t) => (
        <Testimonial
          imageUrl={t.imageUrl}
          imageAlt={t.imageAlt}
          text={t.text}
          signature={t.signature}
        />
      ))
    }
  </section>
  <h1 class="title">Universidades adheridas</h1>
  <hr class="division-line" />
  <Universities />
  <h1 class="title">Empresas que confían en nosotros</h1>
  <hr class="division-line" />
  <Companies />
</Layout>

<style>
  .testimonials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    transition: all 0.3s ease;
    margin-top: 2rem;
  }
  .division-line {
    background-color: green;
    margin: 1rem;
    height: 2px;
    width: 65vw;
  }

  .title {
    font-family: "Libre Baskerville";
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0 0 0;
  }
  @media only screen and (max-width: 768px) {
    .title {
      font-family: "Libre Baskerville";
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
    }
    .division-line {
      margin: 1rem 0 0 0;
    }
  }
</style>
