---
import Companies from "../components/Companies.astro";
import Testimonial from "../components/Testimonial.astro";
import Universities from "../components/Universities.astro";
import Layout from "../layouts/Layout.astro";
import testimonials from "../data/testimonials";
import indexText from "../data/indexText";
import Mission from "../components/Mission.astro";
import Slider from "../components/Slider.astro";
import sliderList from "../data/sliderHome";
---
<Layout title="Fundacion Oportunidades">
  
  <Slider 
    list={sliderList}
  /> 

  {
    indexText.map((t) => (
      <Mission
        imageUrl={t.imageUrl}
        title={t.title}
        paragraphs={t.paragraphs}
      />
    ))
  }

 <!-- Testimonios -->
  <!-- <section class="testimonials-container">
    <h1 class="title">Experiencias de algunos de nuestros becados</h1>
    <hr class="division-line" />
    {
      testimonials.map((t) => (
        <Testimonial
          imageUrl={t.imageUrl}
          imageAlt={t.imageAlt}
          text={t.text}
          signature={t.signature}
        />
      ))
    }
  </section> -->
  
  <!-- Universidades Adheridas -->
  <section class="container mx-auto">
    <h1 class="title px-5">Universidades adheridas</h1>
    <hr class="division-line" />
    <Universities />
  </section>
  
  <!-- <Universities /> -->
  <section class="container mx-auto">
    <h1 class="title px-5">Empresas que confían en nosotros</h1>
    <hr class="division-line" />
    <Companies /> 
  </section>
  
</Layout>

<style>
  @font-face{
    font-family: "Mrs.Eaves";
    src:url('/fonts/mrs-eaves/MRSEAV~5.TTF');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  body{
    font-family: "Mrs.Eaves";
  }
  .testimonials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    transition: all 0.3s ease;
    margin-top: 2rem;
  }
  .division-line {
    background-color: green;
    margin-top: 1rem;
    margin-right: 1.5rem;
    height: 2px;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    font-size: 2.3rem;
    margin: 2rem 0 0 0;
  }
  @media only screen and (max-width: 768px) {
    .title {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
    }
    .division-line {
      margin: 1rem 0 0 0;
    }
  }
</style>
