---
import Companies from "../components/Companies.astro";
import Testimonial from "../components/Testimonial.astro";
import Universities from "../components/Universities.astro";
import Layout from "../layouts/Layout.astro";

import testimonials from "../data/testimonials";
import indexText from "../data/indexText";
import Mission from "../components/Mission.astro";
---

<Layout title="Fundacion Oportunidades">
  {
    indexText.map((t) => (
      <Mission
        imageUrl={t.imageUrl}
        title={t.title}
        paragraphs={t.paragraphs}
      />
    ))
  }

  <h1>Testimonios de algunos de nuestros becados</h1>
  <section class="testimonials-container">
    {
      testimonials.map((t) => (
        <Testimonial
          imageUrl={t.imageUrl}
          imageAlt={t.imageAlt}
          text={t.text}
          signature={t.signature}
        />
      ))
    }
  </section>
  <Universities />
  <Companies />
</Layout>

<style>
  .testimonials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    transition: all 0.3s ease;
    margin-top: 2rem;
  }
</style>
