---
import universities from "../data/universities";
const { universidad } = Astro.props;
const universidadSeleccionada = universities.find(
  (uni) => uni.title === universidad
);
---

<>
  <p class="text-lg max-sm:text-sm">{universidadSeleccionada?.description}</p>
  <div class="flex space-x-2">
    <h1 class="text-2xl max-sm:text-lg font-bold my-4">
      Carreras disponibles de la
    </h1><h1 class="text-2xl max-sm:text-lg font-bold my-4 uppercase">
      {universidad}
    </h1>
  </div>
  {
    universidadSeleccionada?.carrers?.map((carrer) => (
      <a
        href={carrer.url}
        class="flex space-x-2 hover:text-[#48A750]"
        target="_blank"
      >
        <p class="text-lg max-sm:text-sm hover:text-[#48A750]">
          {carrer.name}{" "}
          <span class="text-lg max-sm:text-sm italic text-[#48A750] hover:text-[#52924E]">
            {carrer.description.length > 0 ? (
              <span>({carrer.description})</span>
            ) : null}
          </span>{" "}
        </p>
      </a>
    ))
  }
</>
